/* Enter your custom styles here */
#__item0-__list0-0-titleText-inner{
    font-size: large;
    font-weight: bolder;
}
#__item0-__list0-1-titleText-inner{
    font-size: large;
    font-weight: bolder;
}